<app-navbar></app-navbar>
<section class="hero">
  <h1>Sistema de Facturacion</h1>
</section>

<section class="container">
  <h2>Servicios</h2>
  <div class="services">
    <div class="card">
      <h3>Diseño Web</h3>
      <p>Creación de sitios modernos y responsivos.</p>
    </div>
    <div class="card">
      <h3>Desarrollo Backend</h3>
      <p>APIs robustas con Spring Boot y PostgreSQL.</p>
    </div>
    <div class="card">
      <h3>Soporte Técnico</h3>
      <p>Resolución de problemas y optimización.</p>
    </div>
  </div>
</section>

<footer>
  <p>&copy; 2025 Mi Sitio Web - Todos los derechos reservados</p>
</footer>
